API_URL=http://localhost:2000
BOT_API_TOKEN=

# Database Configuration
DATABASE_URL=""

# Discord OAuth2
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Discord Bot Token (for checking bot presence in guilds)
DISCORD_BOT_TOKEN=

# Public Discord Client ID (for client-side usage)
NEXT_PUBLIC_DISCORD_CLIENT_ID=

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Application Settings
NODE_ENV=production

# Optional: Public App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# DEVELOPERS
# - Array of Discord User IDs, when logged in, all database information can be edited.
ADMIN=[""]